OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'

GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='gemini-embedding-001'
GOOGLE_LLM_MODEL='gemini-2.5-flash-lite'

DATABASE_URL=postgresql+psycopg://postgres:postgres@127.0.0.1:5432/rag
PG_VECTOR_COLLECTION_NAME=gemini_collection_v1
PDF_PATH=./document.pdf